body {
  background: #f7f6d7;
  /*
  🎨 Paletas de Cores Retrô
Essas paletas são inspiradas em consoles como NES, SNES, Atari e fliperamas:

1. Neon Arcade
Fundo: Preto profundo (#000000)

Título: Rosa neon (#FF00FF), Azul elétrico (#00FFFF)

Detalhes: Verde limão (#CCFF00), Laranja vibrante (#FF6600)

2. Pixel Sunset
Fundo: Roxo escuro (#2D004D)

Título: Laranja queimado (#FF4500), Amarelo dourado (#FFD700)

Detalhes: Rosa suave (#FF69B4), Azul celeste (#87CEEB)

3. Atari Classic
Fundo: Cinza carvão (#333333)

Título: Vermelho sangue (#B22222), Branco puro (#FFFFFF)

Detalhes: Amarelo mostarda (#FFD700), Azul petróleo (#008080)
  */
}

.container-texto {
  max-width: 900px;
  width: 100%;
}

header {
  padding: 5px 0;
  background-color: #333333;
  text-align: center;
}

header img {
  animation: pulse 1.5s infinite;
  
}

@keyframes pulse {
  0% {
    /*filter: drop-shadow(0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 20px #FF00FF);*/
    filter: drop-shadow(0 0 5px #FF4500);
  }

  50% {
    filter: drop-shadow(0 0 20px #FF4500);
  }

  100% {
    filter: drop-shadow(0 0 5px #FF4500);
  }
}

.linha {
  padding: 2px;
  /*background-color: #FF69B4;*/
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(204, 255, 0, 1) 30%, rgba(0, 255, 255, 1) 50%, rgba(45, 0, 77, 1) 75%, rgba(255, 0, 255, 1) 100%);
}

.centralizar {
  margin: auto;
}

.content-2048-game {
  margin: 70px 3%;
  text-align: left;
}

.content-2048-game h1, h2 {
  margin-top: 130px;
  font-size: 26px;
}

.content-2048-game h2 {
  margin-top: 40px;
}

.content-2048-game a {
  color: #008080;
}

.content-2048-game ul li {
  padding-bottom: 15px;
}

.content-2048-game ol li {
  margin: 15px 0;
}

footer {
  /*margin: 150px 0 0 0;*/
}

footer .info-footer {
  padding: 20px;
  background-color: #008080;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer a:nth-of-type(1) {
  color: #f7f6d7;
  text-decoration: none;
  font-style: italic;
}

footer img {
  /*width: 100%;
  overflow-x: hidden;*/
  margin: 10px 0;
}

.copy {
  text-align: center;
  background-color: #333333;
}

.copy p {
  font-size: 13px;
  padding: 10px 2%;
  color: #FFFFFF;
}

.copy p a {
  color: #FF6600;
  font-style: italic;
  text-decoration: none;
  margin: 10px 0;
  font-size: 15px;
}