/*
  🎨 Paletas de Cores Retrô
Essas paletas são inspiradas em consoles como NES, SNES, Atari e fliperamas:

1. Neon Arcade
Fundo: Preto profundo (#000000)

Título: Rosa neon (#FF00FF), Azul elétrico (#00FFFF)

Detalhes: Verde limão (#CCFF00), Laranja vibrante (#FF6600)

2. Pixel Sunset
Fundo: Roxo escuro (#2D004D)

Título: Laranja queimado (#FF4500), Amarelo dourado (#FFD700)

Detalhes: Rosa suave (#FF69B4), Azul celeste (#87CEEB)

3. Atari Classic
Fundo: Cinza carvão (#333333)

Título: Vermelho sangue (#B22222), Branco puro (#FFFFFF)

Detalhes: Amarelo mostarda (#FFD700), Azul petróleo (#008080)*/

.clear {
  clear: both;
}

.container-texto {
  max-width: 1300px;
  width: 100%;
}

header {
  padding: 10px 20px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

div.logo {
  display: inline;
}

header img {
  width: 110px;
  height: 60px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    /*filter: drop-shadow(0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 20px #FF00FF);*/
    filter: drop-shadow(0 0 5px #FF4500);
  }

  50% {
    filter: drop-shadow(0 0 20px #FF4500);
  }

  100% {
    filter: drop-shadow(0 0 5px #FF4500);
  }
}

.menu {
  display: inline;
  float: right;
  position: relative;
  top: 4px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu a {
  font-size: 18px;
  color: #FF6600;
  text-decoration: none;
}

.menu a:hover {
  color: #FFFFFF;
  transition: 0.6s;
}

.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
}

.hamburguer span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #FF6600;
  transition: all 0.4s ease;
}

.linha {
  padding: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(204, 255, 0, 1) 30%, rgba(0, 255, 255, 1) 50%, rgba(45, 0, 77, 1) 75%, rgba(255, 0, 255, 1) 100%);
}

.centralizar {
  margin: auto;
}

.content-2048-game {
  margin: 70px 4%;
  text-align: left;
}

.content-2048-game h1 {
  margin-top: 120px;
  font-size: 25px;
}

.content-2048-game h2 {
  margin-top: 50px;
  font-size: 25px;
}

.content-2048-game a {
  color: #008080;
}

.content-2048-game ul li {
  padding-bottom: 15px;
}

.content-2048-game ol li {
  margin: 15px 0;
}

footer {
  margin: 50px 0px 0px 0px;
  background-color: #FFD700;
  font-family: "Mulish", sans-serif;
}

footer .info-footer {
  padding: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer .info-footer a {
  color: #000000;
  font-style: italic;
  text-decoration: none;
  margin: 5px 0;
  font-size: 18px;
}

.info-footer a:hover {
  color: #008080;
  transition: 0.2s ease-in;
}

footer img {
  max-width: 80px;
  width: 100%;
  height: 53px;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  padding: 10px 2%;
}

.copy p {
  font-size: 13px;
  color: #FFFFFF;
}

.copy p a {
  color: #FF6600;
  font-style: italic;
  text-decoration: none;
}

.copy p, a {
  position: relative;
  margin-top: 8px;
}

/*===================Estilos das páginas sobre, termos de uso, políticas de privacidade e FAQ===================*/
.conteudo {
  margin: 60px 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 55vh;
}

/*===========================================Media query menu mobile===========================================*/
@media screen and (max-width: 1366px) {
  .container-texto {
    max-width: 1100px;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 5px 20px;
  }

  .logo {
    position: relative;
    top: 10px;
  }

  .menu {
    position: absolute;
    top: 108px;
    right: 0;
    max-width: 768px;
    width: 100%;
    transform: translateX(100%); 
    transition: transform 0.4s ease;
    background-color: #333333;
    z-index: 1000;
    overflow-x: hidden;
  }

  .menu ul {
    display: inline;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }

  .menu ul li {
    border-bottom: 1px solid #FF6600;
    padding: 20px 0;
  }

  .menu ul li:hover {
    background-color: #FFFFFF;
    transition: 0.6s;
  }

  .menu a:hover {
    color: #FF6600;
    transition: 0.6s;
  }

  .menu a {
    font-size: 18px;
  }

  .menu.active { 
    transform: translateX(0); 
  }

  .hamburguer {
    display: flex;
    float: right;
    position: relative;
    top: -37px;
  }
}

/* Animação do hambúrguer -> X */
.hamburguer.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

.hamburguer.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(60px);
}

.hamburguer.active span:nth-child(3) {
  transform: rotate(-44deg) translate(5px, -8px);
}

@media screen and (max-width: 400px) {
  .logo img {
    width: 90px;
    height: 67px;
  }

  .menu {
    top: 115px;
  }
}